*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error{
    color: red;
    margin-top: 5px;
}
.imagePreviewbtn{
position: relative;
}
#cancleImage{
    position: absolute;
    left: 140px;
    top: 22px;
    font-size: 30px;
    color: red;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-weight: bold;

}